<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GraderAide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
     .clickable { /* TODO */
       cursor: pointer;
     }
  </style>
  
  <script src="https://cdn.jsdelivr.net/npm/vue"></script><!-- TODO -->
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      
      <!-- title row -->
      <div class="col-xl-6 offset-xl-3">
        <h1>{{assignmentName}}</h1><!-- TODO -->
        <h4>{{totalPts}} pts</h4>

        <!-- rules rows -->
        <div v-for="(rule, i) of rules" :key="rule.desc"><!-- TODO -->
          <input type="checkbox" name="rubric" :value="rule" v-model="selectedRules">
            {{rule.pts | positive}} {{rule.desc}}
            <span class="clickable float-right" @click="removeRule(i)" v-html="REDX" title="Remove"></span><br>
          </input>
        </div>
        
        <!-- add row -->
        <input type="number" class="col-xl-2" v-model.number="addNum" title="pts (positive or negative)">
        <input type="text"   class="col-xl-5" v-model.trim="addDesc" @keyup.enter="addRule()" placeholder="Type your new rule here ...">
        <span class="clickable float-right" @click="addRule()" title="Add">+</span><br>

        <!-- output rows -->
        <div v-if="actualPts < totalPts" class="alert alert-warning" role="alert">
          <span v-for="selectedRule of selectedRules">{{selectedRule.pts | positive}} {{selectedRule.desc}}<br></span>
          <hr> {{actualPts}}
        </div>
        <div v-else class="alert alert-success" role="alert">
          <span v-for="selectedRule of selectedRules">{{selectedRule.pts | positive}} {{selectedRule.desc}}<br></span>
          <b>Good Job</b>
          <hr> {{actualPts}}
        </div>
      </div>
    </div>
<pre>{{addNum}} {{addDesc}}</pre>    
  </div>

<script>
/* global Vue */
let app = new Vue({
  el: '#app',
  data: { //persisted data
    assignmentName: 'Lab 1',
    totalPts: 100,
    rules: [
      {pts: -1, desc: 'wrong file name'},
      {pts: -5, desc: 'magic number'},
      {pts: +1, desc: 'Extra credit'}
    ],
    //gui state
    REDX: '&#10060;',
    selectedRules: [],
    addNum: null,
    addDesc: null
  },
  filters: {
    positive: function(num) { //TODO make all caps
      if (num > 0) return `+${num}`;
      return num;
    }
  },
  computed: {
    actualPts: function() { //add up all selected pts and subtract from totalPts
      return this.selectedRules.reduce((acc, el) => acc + el.pts, this.totalPts);

      //   let sum = this.totalPts;
      //   for (rule of this.selectedRules) {
      //       sum += rule.pts;
      //   }
      //   return sum;
    }
  },
  methods: {
    removeRule: function(i) {
      this.rules.splice(i,1);
    },
    addRule: function() {
      if (!this.addNum)  return;
      if (!this.addDesc) return;
      this.rules.push({ pts: this.addNum, desc: this.addDesc });
      this.addNum = null;
      this.addDesc = null;
    }
  }
})

//CLASS MILESTONE
//TODO lazy modifier
//TODO load
//REFACTOR clean up add
// - pop up the add line
// - make the text boxes prettier
// - get a nicer PLUS
// - make the plus green
//REFACTOR the two output sections into one
//FIXME if rule is checked, and then deleted, it's still listed in summary


//TEAM MILESTONE
//TODO save (storing the json) via axios
//TODO recover/restore deleted rule in memory stack
//TODO edit rule
//TODO edit name
//TODO edit totalPts
//TODO list of comments (no points up or down)
//TODO edit list of comments (no points up or down)
//TODO delete list of comments/recovering
//TODO create a new assignment
travis, tanner, bob
joel, jeremy, cameron
jessie, harry, andrew
paul, eric, joseph
josh, jeff, david
sam, parker



//FUTURE









//TODO load (reading the json)
//TODO partial credit
//TODO late penalty percentage
//TODO tie to Canvas API

</script>
</body>

</html>
